/* Generics */

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* Content */
.flex {
display: flex;
}

.header {
    justify-content: space-around;
    background-color: #ff6900;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    width: 100%;

}

a {
padding: 10px;
color: white;
text-decoration: none;
}

#logo {
    height: 30px;
}

i{
    color: white;
    padding: 10px;
}

.menu-dx {
    gap: 50px;
}

.containermain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 150px;
}

.card {
    width: calc(100%/ 3 - 40px);
    flex-shrink: 0;
    background-color: #f6f6f6;
    margin: 20px 20px;
    position: relative;
}

.card img {
    width: 100%;
}

.price {
    gap: 10px;
}

#redfont {
    color: red;
}

.card h2 {
    font-size: 15px;
}

.heart {
    color: black;
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: 0px;
}

.sales {
    background-color: red;
    color: white;
    height: 30px;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
}

.greenbutton {
    background-color:green;
    color: white;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 55px;
}

.greenbutton2 {
    background-color:green;
    color: white;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
}
    
